
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
body{
    line-height: 1.4;
    color: #3c393d;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(https://cdn.pixabay.com/photo/2022/08/09/19/55/boho-art-7375748_1280.jpg)fixed no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.nav-bar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.first{
    color: #fff;
    font-size: 32px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.title{
    font-size: 48px;
    font-family:"Playfair Display", serif ;
    line-height: 1.2;
}
 .design .title h2{
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title span{
    font-family: "Playfair Display", serif ;
    color: #2b2b2b;
}
.banner p{
    padding: 16px 0 32px 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 32px;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6 0;
    border: none;
}
.search-input ::placeholder{
    text-transform: capitalize;
}
.btn{
    width: 40px;
    font-size: 1.1rem;
     color:#3c393d ;
     border: none;
     background: transparent;
     outline: 0;
     cursor: pointer;
}
.design{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family:"Playfair Display", serif ;
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin:2rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 90px;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
    width: 40vw;
    height: 70vh;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition: all 0.5s ease;
}
.design-img img:hover{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #2b2b2b;
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: #3c393d;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Playfair Display", serif ;
}
.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
   width: 300px;
   height: 300px;
   display: flex;
   justify-content:space-between;
   /* align-items: center; */
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #2b2b2b;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}


.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    font-family:"Playfair Display", serif  ;
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight:300;
    font-size:1.1rem ;
    opacity:0.9 ;
    padding-bottom:1.2rem ;
}
.blog-text a{
    font-size:1.1rem ;
    text-decoration:none ;
    color: #3c393d;
    display: inline-block;
    background: #3c393d;
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
